<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm - 3:30 pm</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm - 4:00 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Plotting and Programming in Python</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm - 4:00 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Plotting and Programming in Python</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 am - 12:00 pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
